<h1>Lista pinów</h1>

<table>
  <thead>
    <tr>
      <th>Obraz</th>
      <th>Opis</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= image_tag pin.image.url(:medium) %></td> 
        <td><%= pin.description %>&nbsp</td>
        <td><%= link_to 'Wyświetl', pin %> |&nbsp</td>
        <% if pin.user == current_user %>
          <td><%= link_to 'Edytuj', edit_pin_path(pin) %> |&nbsp</td>
          <td><%= link_to 'Usuń', pin, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowy pin', new_pin_path, class: 'btn btn-primary' %>
